* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgb(255, 255, 255, 0.5);
  --surface-color: rgb(255, 255, 255, 0.1);
  --surface-color-hover: rgb(255, 255, 255, 0.2);
  --social-links-hover: rgb(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgb(0, 0, 0, 0.5);
  --surface-color: rgb(0, 0, 0, 0.05);
  --surface-color-hover: /*rgb(0, 0, 0, 0.4)*/ rgb(174, 0, 255, 0.2);
  --social-links-hover: /*rgb(0, 0, 0, 0.4)*/ rgb(174, 0, 255, 0.2);
  --switch-bg-url: url(./assets/sun.svg);
  --highlight-color: rgba(0, 0, 0, 0.1);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  background-size: cover;
  */

  /* background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover fixed;

  /* background: url(./yasuo\ 4.jpg) no-repeat center top; */

  height: 100vh;
}

body * {
  font-family: "Oswald", sans-serif;
  /* font-family: "Borel", cursive; */
  font-size: x-large;
  color: var(--text-color);
}

body * p {
  /* font-family: "Vina Sans", sans-serif; */
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: rgb(119, 0, 255); */
}

#p2 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  display: inline;
  vertical-align: top;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: auto;
  padding: 0 24px;
}

/* profile*/

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}

/* switch */

#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.4s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  backdrop-filter: blur(4px);
  transition: background 0.2s;
}

ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social-links */
#social-links {
  display: flex;
  justify-content: center;
  gap: 0px;

  padding: 0 0 12px 0;

  font-size: 40px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background-color: var(--social-links-hover);
}

footer {
  font-size: 20px;
  padding: 0 0 12px 0;
  text-align: center;
  font-family: "Nova Square", sans-serif;
  /* font-family: "Playfair Display", serif; */
}

#ig {
  font-family: "Nova Square", sans-serif;
  /* text-decoration: none; */
  font-size: 20px;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-mobile.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-mobile-light.jpg);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
